<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

Ejercicio 2 - Crear una celda de markdown con el título del cuaderno. (1 pt)

# Data Science Tools and Ecosystem

*In this notebook, Data Science Tools and Ecosystem are summarized.*

**Objectives:**

- List popular languages for Data Science
- Demonstrate basic arithmetic operations in Python
- Convert time units from minutes to hours
- Create and display a DataFrame in pandas
- Utilize Markdown to format text in Jupyter Notebooks

Some of the popular languages that Data Scientists use are:

In [11]:
# Crear la lista con los lenguajes de programación
mi_lista = ['R', 'Python', 'SQL', 'Java', 'Scala', 'Julia', 'MATLAB']

# Ordenar la lista en orden ascendente
lista_ordenada = sorted(mi_lista)

# Imprimir el resultado con un formato más limpio
print("Lista ordenada en orden ascendente:")
print(", ".join(lista_ordenada))

Lista ordenada en orden ascendente:
Java, Julia, MATLAB, Python, R, SQL, Scala

In [12]:
import pandas as pd
from IPython.display import display

# Crear una lista con los nombres de las herramientas de Data Science
tools = ['R', 'Python', 'SQL', 'Java', 'Scala', 'Julia', 'MATLAB']

# Crear un DataFrame con la lista y agregar un encabezado
df = pd.DataFrame(tools, columns=['Data Science Tools'])

# Mostrar la tabla
display(df)

  Data Science Tools
0                  R
1             Python
2                SQL
3               Java
4              Scala
5              Julia
6             MATLAB

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This is a simple arithmetic expression to multiply then add integers.
resultado = (3 * 4) + 5

# Imprimir el resultado
print("El resultado de (3 * 4) + 5 es:", resultado)

El resultado de (3 * 4) + 5 es: 17

In [14]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60

# Imprimir el resultado
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
JUAN CARLOS VALENCIA